.app {
  > * + * {
    margin-top: 24px;
  }
}

input {
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-input-border);
  border-radius: 2px;
  outline: none;
  flex-grow: 1;
  margin-right: 12px;
  padding: 4px 8px;

  &:disabled {
    opacity: 0.8;
  }
}
