:root {
  background: var(--vscode-sideBar-background);

  body {
    background: var(--vscode-sideBar-background);
    border-top: 1px solid rgba(#eee, 0.2);
  }
}

.app {
  > * + * {
    margin-top: 24px;
  }
}

input[type='text'] {
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-input-border);
  border-radius: 2px;
  outline: none;
  flex-grow: 1;
  padding: 4px 8px;

  &:disabled {
    opacity: 0.8;
  }
}
