.patControl {
  display: flex;
  align-items: center;
  min-height: 25px;

  .dot {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: var(--vscode-descriptionForeground);
    margin-right: 8px;
  }

  button + button {
    margin-left: 4px;
  }

  &.enabled {
    .dot {
      background: var(--vscode-charts-green);
    }
  }
}
