.sc {
  .subtitle {
    margin-top: 12px;
    margin-bottom: 8px;
  }

  .commit {
    display: flex;
    margin-bottom: 12px;

    input {
      flex-grow: 1;
    }
  }

  .commitMethod {
    .option {
      user-select: none;
      display: flex;
      align-items: flex-start;
      margin: 8px 0;

      input[type='radio'] {
        margin: 0;
        margin-right: 8px;
        margin-top: 2px;
        outline: none;
      }

      label {
        color: var(--vscode-descriptionForeground);
        flex-grow: 1;
      }
    }
  }

  .proposeChange {
    display: flex;
    align-items: center;

    input {
      flex-grow: 1;
      margin-right: 12px;
    }
  }
}
