.sc {
  .subtitle {
    margin-top: 12px;
    margin-bottom: 8px;
  }

  .commit {
    display: flex;
    margin-bottom: 12px;

    input {
      flex-grow: 1;
    }
  }

  .proposeChange {
    display: flex;
    align-items: center;

    input {
      flex-grow: 1;
      margin-right: 12px;
    }
  }
}
